@import "./_vars";
@import "../../common/scss/utils/_utils";

//////////// WET Widget fixes ////////////
.wb-tabs.carousel-s2.wb-tabs-inited{
    padding-bottom: 4.375em;
    .control{
        &.nxt,&.prv,&.tab-count{
            display:table-cell !important; vertical-align:middle;
        }  
    }
}

//changes background of body on all pages
body {
	background-image: url(./base/background.png); 
	background-repeat: repeat-x;
	background-color: #23303c;
}

//changes the background of the launch page, since body above changes for all.
body.launchpage {
	background-image: url(); 
	background-repeat: no-repeat;
	background-color: #fff;
}

//make the main window's border round
main{
	border-radius: 8px;
}

//add an image to the top menu's background. this image is behind curriculum title
div.top-menu{
	background-image:url(./base/Canada_EN.png);
	background-repeat:no-repeat;
	background-size:contain;
}

//use a different image on French pages
[lang="fr"] div.top-menu{
	background-image:url(./base/Canada_FR.png);
}

//padding above and under course title
#wb-sttl{
	padding-top:20px;
	padding-bottom:5px;
}

//changes the size of the image on launch screen
#wordmark img{
	height:200px;
	width:auto;
}

//add style to vince sections
.vincestyle{
	
}


#med_sparkle{
	width:20%;
	height:auto;
	
}