@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900');

body {
    background-image: none;
    font-family: 'Roboto';
    overflow-y: scroll;
    overflow-x: hidden;
}

.cheat-margin {
    position: absolute;
    width: 50px;
    height: calc(70% + 60px);
}

#cheat_div {
    z-index: -1;
}

.college {
    display: inline;
    margin-left: 45px;
    font-weight: 400;
    font-size: 19px;
}

#header {
    display: flex;
    padding: 30px 30px;
    margin: 0px auto;
    align-items: center;
}

@media (min-width: 1012px) {
    #header {
        max-width: 1012px;
    }
}

@media (min-width: 1280px) {
    #header {
        max-width: 1280px;
    }
}

.subsection-title {
    padding: 15px 0px;
}

.version-badge {
    width: 80px;
    text-align: center;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
    font-weight: 400;
}

h3 {
    font-weight: normal;
    font-size: 120%;
}

.planned-version {
    background-color: #0b7463 !important;
}

.mr-2 {
    margin-right: 15px !important;
}

@media (min-width: 768px) {
    .change-log {
        margin-left: 95px;
    }
}

@media (max-width: 767px) {
    .subsection-title {
        margin-left: 23px !important;
        color: #24292e !important;
    }
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    margin: -1px;
}

.langswitcher {
    margin-left: auto;
    order: 2;
    color: #b2b4b6;
}

.change-badge-urgent {
    background-color: #d76a3a;
}


:root {
    color-scheme: light dark
}

.shepherd-content {
    color-scheme: normal
}

body {
    color: rgba(255, 255, 255, 0.65);
    background: #24292e;

    margin: 0;
    font-family: "Roboto";
}

.mainContent {
    display: flex;
}

.mainContent .panel {
    width: 50%;
}

.left {
    padding: 0 15px 0 0;
}

.right {
    padding: 0 0 0 15px;
}

.title {
    padding: 20px 50px;
    text-align: center;
    text-transform: uppercase;
    background: #105067;
    color: #fff;
}

.subtitles {
    text-transform: uppercase;
}

.introduction {
    font-size: 15px;
    margin-bottom: 60px;
    margin-top: 30px;
}

.ck.ck-editor__main {
    color: #000;
    font-size: 13px;
}

.college {
    display: inline;
    margin: 0px 0px 0px 45px;
    font-weight: 400;
    font-size: 19px;
}

#header {
    display: flex;
    padding: 30px 30px;
    margin: 0px auto;
    align-items: center;
    -webkit-text-size-adjust: 100%;
    color-scheme: light dark;
    font-size: 14px;
    line-height: 1.5;
    font-family: "Roboto";
    color: rgba(255, 255, 255, 0.65);
    box-sizing: border-box;
    display: flex;
    padding: 30px 30px;
    margin: 0px auto;
    align-items: center;
    max-width: 1280px;
}

a {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

@media (min-width: 1012px) {
    #header {
        max-width: 1012px;
    }
}

@media (min-width: 1280px) {
    #header {
        max-width: 1280px;
    }
}

.subsection-title {
    padding: 15px 0px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
    font-weight: 400;
}

h3 {
    font-weight: normal;
    font-size: 120%;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    margin: -1px;
}

.langswitcher {
    margin-left: auto;
    order: 2;
    color: #b2b4b6;
}

.container-new {
    max-width: 980px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 1012px) {
    .container-new {
        max-width: 955px
    }
}

@media (min-width: 1280px) {
    .container-new {
        max-width: 1220px
    }
}

.shepherd-title {
    color: #eaeaea;
}

.shepherd-header {
    background: #105067 !important;
}

.shepherd-text {
    color: #000;
}

.shepherd-content {
    background: #bfbfbf;
}

.shepherd-button {
    background: #105067;
}

.shepherd-element a {
    color: blue;
}

.sup-label {
    font-size: 60%;
    vertical-align: middle;
}

.display-none {
    display: none;
}

.shepherd-element.shepherd-has-title[data-popper-placement^=bottom]>.shepherd-arrow:before {
    background-color: #105067;
}

.shepherd-arrow:before {
    transform: rotate(45deg) scale(1.25)!important;
}

.border {
    border: 4px solid black!important;
}

.border .shepherd-arrow:before {
    outline: 4px solid black;
}