/* universal*/
*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
  margin: 0;
}

.text{
    color: var(--headerTwo);
    font-size: 1.3rem;
}
:root {
   
    --headerOne : #051c37;
    --headerTwo : #1f7c9b;
    --headerThree: #69459c;
    --headerFour: #cd1c69;
    --headerFive: #666666;
    --white: #FCFCFC;
    
}
.white{
    background-color: white;
    
}

.hide{
    display: none;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End of Univeral  */
/* Start lang area styling */
.lang{
    
    display: flex;
    justify-content: flex-end;
    background-color: var(--headerTwo);
    
    
}



.lang-btn{
    padding: 10px;
    padding-right: 50px;
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
}
/* End of lang area styling */


/* Header Area Styling  */

header{
    
    background-color:var(--headerTwo);
    height: 55px;
    display: flex;
    justify-content: center;
    
}

.cropper{
    
    text-transform: uppercase;
    font-size: 2.1rem;
    color: var(--white);
}

.widthPaddingResCont{
    width: 900px;
    padding: 30px;
}



/* End of header area  */
.line{
    height: 2px;
    background-color: var(--headerFive);
    margin-bottom: 5rem;
    
}

/* Main Container styling */
.container{
   
    display: flex;
    justify-content: center;
    margin: auto auto;
    border-radius: 2px;
    padding: 1rem;
     
    
    
}
.boxHeader{
    display: flex;
}

input::file-selector-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    margin-left: 1rem;
    
    color: var(--headerTwo);
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
    cursor: pointer;
}
input::file-selector-button:hover {
    background-color: white;
    transition: .7s;
}
.files{
    display: flex;
    transform: translateY(20%);
}


textarea{
    resize: none;
    padding: 1rem;
    text-align: start;
    font-size: 1rem;
    border: solid var(--headerFive) 1px;
    border-radius: 5px;
    font-weight: 400;
    line-height: 22.4px;
}
#ab{
    resize: none;
    padding: 1rem;
    text-align: start;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22.4px;
    height: auto;
}
p{
    height: auto;
}

.imageBox{
    border: none;
    margin-left: 2rem;
}
#a{
   display: block;
    width: 600px;
    height: auto;
    border:none;
    /* width: max-content; */
    
}
img{
    border: none;
}

.options,.previews{
    
    display: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 1s;
    }
#cropBtn{
    color: var(--headerTwo);
    padding: 0.5em;
    border: 2px solid var(--headerFive);
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 1rem;
}

#cropBtn:hover{
    background-color: var(--headerTwo) ;
    color: white;
    transition: .7s;
    
    
}
/* End of Main Container styling */

.output-cont{
    display: flex;
    justify-content: center;
    width: 840px;
    height: auto;
    

}
/* width is 400px on ADAPT  */
.b{
    margin-top: 2rem;
    margin-bottom: 2rem;
    object-fit: none;
    
}

.c{
    width: 400px; 
    height: auto;
}

.d{
    width: 840px; 
    
    display: block;
}


/* Modal Styling*/
.modal {
   display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
     /* min-height: calc(100vh- 100px);  */
    overflow-y: auto; /* Enable scroll if needed */
    background-color: rgb(211, 211, 211); /* Fallback color */
    background-color: rgba(255, 255, 255, 1);
    /* transition: all 1s animation; */
    animation-name: animation;
    margin: 0;
    
}
  

.close-btn{
    position: absolute;
    top:5%;
    right: 5%;
    cursor: pointer;
}

.greyBox{
    background-color: #e6e6e6;
    width: 1020px;
    margin-top: 60px;
    padding: 60px;
    height: auto;

}
.wrap{
    
   
    width:900px;
}

.close:hover{
    background-color: grey;
    transition: 1s;
    border-radius: 5px;
    
}
.res-container{
    
    width:450px;
    padding: 30px 30px 30px 15px;
    /* display: grid; */
}

.text-box{
    width: 450px;
    padding: 30px 15px 30px 30px;

}


.footer-wrapper{
    display: none;
}

.footer{
    
    margin-top: 1rem;
    display: flex;
    justify-content: center;
     margin-bottom: 1rem;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}


input[type=text]{
    /* border : 2px solid var(--headerFive);
    border-radius: 5px; */
    padding: 10px;
    border-top: 1px solid #d1d5db;
    
    border-bottom: 1px solid #090f18;
}

label{
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--headerTwo);
    margin-right: 15px;
    transform: translateY(10px);
}
.save-btn{
    margin-left: 25px;
}
@keyframes animation {


    0% {opacity:0 };
    25% {opacity: 0.25 };
    50% {opacity: 0.75;};
    100% {opacity :1};

  }

  .block-title{
      font-size: 36px;
      display: inline-block;
      font-weight: bold;
      color: #0068AE ;
      transform: translateX(25%);
  }

  
    .txt-a{
      
        color: #0068AE ;
        font-weight:300;
        font-size: 24px;
        text-align: left;
        display:inline-block;
        margin-bottom: 10px;
        
    }

    .txt-b{
        color: #0068AE ;
        font-weight:300;
        font-size: 24px;
        text-align: left;
        display:inline-block;
        margin-bottom: 10px;
        
        
    }


    .object-position{
        object-position: center top;

    }
    
    


    /* 
     */

.object-fit_fill { object-fit: fill }
.object-fit_contain { object-fit: contain }
.object-fit_cover { object-fit: cover }
.object-fit_none { object-fit: none }
.object-fit_scale-down { object-fit: scale-down }
  

  /* End of Modal Styling */

