body {
    background-image: none;
}

#header {
    text-align: center;
    padding: 30px 0px;
}

.subsection-title {
    padding: 15px 0px;
}

.version-badge {
    width: 80px;
    text-align: center;
}

h3 {
    font-weight: normal;
    font-size: 120%;
}

.planned-version {
    background-color: #0b7463 !important;
}

.mr-2 {
    margin-right: 15px !important;
}

@media (min-width: 768px) {
    .change-log {
        margin-left: 95px;
    }
}

@media (max-width: 767px) {
    .subsection-title {
        margin-left: 23px!important;
        color: #24292e !important;
    }
}