
<a id="qaLink" class="wb-lbx" style="display: block; position: fixed; bottom: 0; right: 2px; background-color: #ccc; padding: 10px;" href="#qaModal">QA Helper</a>
<section id="qaModal" class="mfp-hide modal-dialog modal-content overlay-def">
    <header class="modal-header">
        <h2 class="modal-title">QA Tools</h2>
    </header>
    <div class="modal-body">
      <div id="qaMenu">
        <p>This is a temporary tool to help during course testing.  The lists below references the slide numbers used in the storyboard. Clicking on a button will load the content for that slide, for QA purposes.</p>
        <h2 style="margin-top: 0;">Currently-Selected Email Scenarios</h2>
        <p>These are the slides that were randomly selected for the current round.</p>
        <p id="qaCurrentScenarios"></p>
        <h2>All Email Scenarios and Feedback Screens</h2>
        <p><em><strong>Note</strong>: navigation buttons in feedback slides (i.e. <strong>Continue</strong> and <strong>Back</strong>) will not be functional in this QA setting.</em></p>
        <table class="table">
          <thead>
            <th>Feedback</th>
            <th>Safe<br/>w/ feedback</th>
            <th>Phishing<br/>w/ feedback</th>
            <th>Safe<br/>w/o feedback</th>
            <th>Phishing<br/>w/o feedback</th>
          </thead>
          <tbody>
            <tr>
              <td>
                <button class="btn btn-default qa-feedback-button"  data-feedback-id="2.2">Slide 2.2</button><br/>
                <button class="btn btn-default qa-feedback-button"  data-feedback-id="2.3">Slide 2.3</button><br/>
                <button class="btn btn-default qa-feedback-button"  data-feedback-id="2.4">Slide 2.4</button><br/>
                <button class="btn btn-default qa-feedback-button"  data-feedback-id="2.5">Slide 2.5</button><br/>
                <button class="btn btn-default qa-feedback-button"  data-feedback-id="2.6">Slide 2.6</button><br/>
                <button class="btn btn-default qa-feedback-button"  data-feedback-id="2.7">Slide 2.7</button><br/>
                <button class="btn btn-default qa-feedback-button"  data-feedback-id="2.8">Slide 2.8</button><br/>
                <button class="btn btn-default qa-feedback-button"  data-feedback-id="2.9">Slide 2.9</button><br/>
                <button class="btn btn-default qa-feedback-button" data-feedback-id="2.12">Slide 2.12</button><br/>
                <button class="btn btn-default qa-feedback-button" data-feedback-id="2.13">Slide 2.13</button><br/>
                <button class="btn btn-default qa-feedback-button" data-feedback-id="2.25">Slide 2.25</button><br/>
                <button class="btn btn-default qa-feedback-button" data-feedback-id="2.26">Slide 2.26</button><br/>
                <button class="btn btn-default qa-feedback-button" data-feedback-id="2.27">Slide 2.27</button><br/>
                <button class="btn btn-default qa-feedback-button" data-feedback-id="2.28">Slide 2.28</button><br/>
                <button class="btn btn-default qa-feedback-button" data-feedback-id="2.33">Slide 2.33</button>
              </td>
              <td>
                <button class="btn btn-default qa-email-button" data-email-id="2.11">Slide 2.11</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="2.14">Slide 2.14</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="2.15">Slide 2.15</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="2.16">Slide 2.16</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="2.17">Slide 2.17</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="2.18">Slide 2.18</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="2.34">Slide 2.34</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="2.35">Slide 2.35</button>
              </td>
              <td>
                <button class="btn btn-default qa-email-button"  data-email-id="2.1">Slide 2.1</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="2.10">Slide 2.10</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="2.19">Slide 2.19</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="2.20">Slide 2.20</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="2.21">Slide 2.21</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="2.22">Slide 2.22</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="2.23">Slide 2.23</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="2.24">Slide 2.24</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="2.29">Slide 2.29</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="2.30">Slide 2.30</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="2.31">Slide 2.31</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="2.32">Slide 2.32</button>
              </td>
              <td>
                <button class="btn btn-default qa-email-button"  data-email-id="3.1">Slide 3.1</button><br/>
                <button class="btn btn-default qa-email-button"  data-email-id="3.2">Slide 3.2</button><br/>
                <button class="btn btn-default qa-email-button"  data-email-id="3.3">Slide 3.3</button><br/>
                <button class="btn btn-default qa-email-button"  data-email-id="3.4">Slide 3.4</button><br/>
                <button class="btn btn-default qa-email-button"  data-email-id="3.5">Slide 3.5</button><br/>
                <button class="btn btn-default qa-email-button"  data-email-id="3.6">Slide 3.6</button><br/>
                <button class="btn btn-default qa-email-button"  data-email-id="3.7">Slide 3.7</button><br/>
                <button class="btn btn-default qa-email-button"  data-email-id="3.8">Slide 3.8</button><br/>
                <button class="btn btn-default qa-email-button"  data-email-id="3.9">Slide 3.9</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.10">Slide 3.10</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.11">Slide 3.11</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.12">Slide 3.12</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.13">Slide 3.13</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.14">Slide 3.14</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.15">Slide 3.15</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.16">Slide 3.16</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.17">Slide 3.17</button>
              </td>
              <td>
                <button class="btn btn-default qa-email-button" data-email-id="3.18">Slide 3.18</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.19">Slide 3.19</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.20">Slide 3.20</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.21">Slide 3.21</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.22">Slide 3.22</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.23">Slide 3.23</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.24">Slide 3.24</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.25">Slide 3.25</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.26">Slide 3.26</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.27">Slide 3.27</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.28">Slide 3.28</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.29">Slide 3.29</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.30">Slide 3.30</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.31">Slide 3.31</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.32">Slide 3.32</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.33">Slide 3.33</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.34">Slide 3.34</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.35">Slide 3.35</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.36">Slide 3.36</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.37">Slide 3.37</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.38">Slide 3.38</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.39">Slide 3.39</button><br/>
                <button class="btn btn-default qa-email-button" data-email-id="3.40">Slide 3.40</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="qaFeedback">
        <h2 id="qaFeedbackTitle"></h2>
        <div id="qaFeedbackContent"></div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" id="btnShowQAMenu" class="btn btn-sm btn-default">Back to Menu</button>
    </div>
</section>

<script>
  require(['jquery', 'content/scripts/phishing-scenarios', 'content/scripts/narration-controller'], function($, PhishingScenarios, NarrationController) {
    'use strict';
    
    // Initialize WET lightbox
    $('#qaLink').trigger("wb-init.wb-lbx");
    
    // Ensure audio stops when lightbox is closed
    $('#qaLink').on( "mfpClose", function(e) {
      qaStopAudio();
    }).on( "mfpOpen", function(e) {
      qaStopAudio();
    });
    
    // Event handlers
    $('#qaModal').on('click', '.qa-feedback-button', function() {
      var feedbackId = $(this).data('feedbackId');
      $('#qaFeedbackTitle').text('Feedback: Slide ' + feedbackId);
      qaSlide(feedbackId, qaFeedbackLoaded);
    }).on('click', '.qa-email-button', function() {
      var emailId = $(this).data('emailId');
      $('#qaFeedbackTitle').text('Email Scenario: Slide ' + emailId);
      qaSlide(emailId, qaEmailLoaded);
    })
      .on("mouseenter", "[data-feedback-id]", showFeedbackSlideIdTooltip)
      .on("mouseleave", "[data-feedback-id]", hideTooltip)
      .on("mouseenter", '[data-is-phishing="true"] [data-potential-clue]', showClueNoFeedbackTooltip)
      .on("mouseleave", '[data-is-phishing="true"] [data-potential-clue]', hideTooltip)
      .on("mouseenter focusin", "a", showLinkHrefTooltip)
      .on("mouseleave focusout", "a", hideTooltip)
      .on("click", "a", function(e) {
        e.preventDefault();
        alert("This is a sample link."); 
        return false;
    });
    
    // Return to the QA menu
    $("#btnShowQAMenu").click(function() {
      // Stop any playing feedback narration
      qaStopAudio();
      // Display the menu
      $('#qaFeedback').slideUp("fast", function(){ $('#qaMenu').slideDown("fast"); });
      
      $(this).hide();
    }).hide();
    
    // Stop any playing feedback narration
    function qaStopAudio() {
      $(document).find('.wb-mltmd').each(function(index, el) {
        el.player("pause");
      });
    }
  
    // Load a feedback or email slide
    function qaSlide(slideId, onLoaded) {
      var scenarios = PhishingScenarios.getCurrentScenarios();
      
      scenarios && scenarios[0].loadFeedback(slideId, onLoaded);
    }
    
    // Handle a loaded feedback slide
    function qaFeedbackLoaded(content) {
      showSlideContent(content);
    }
    
    // Handle a loaded email slide
    function qaEmailLoaded(content) {
      showSlideContent(content);
    }
    
    function showSlideContent(content) {
      $('#qaMenu').slideUp('fast', function() { $('#qaFeedbackContent').html(content).parent().slideDown('fast'); });
      $('#btnShowQAMenu').show();
    }
    
    // Display the list of current scenarios
    function displayCurrentScenarios() {
      var scenarios = PhishingScenarios.getCurrentScenarios(),
          html = "";
      
      if (scenarios && scenarios.length > 0) {
        for (var i = 0; i < scenarios.length; i++) {
          var scenario = scenarios[i];
          
          if (i === 5) {
            html = html + '<br/>';
          }
          
          html = html + '<button class="btn btn-default qa-email-button" data-email-id="' + scenario.id + '">Slide ' + scenario.id + '</button> ';
        }
        $('#qaCurrentScenarios').html(html);
      } else {
        setTimeout(displayCurrentScenarios, 1000);
      }
    }
    displayCurrentScenarios();
  });
  
  // Tooltip functions to display information about
  
  function showClueNoFeedbackTooltip(event) {
    var $el = $(event.target),
        isClue = $el.is('[data-clue]'),
        feedback = isClue ? "Show checkmark" : "Show X";
        
    showTooltip(event, "<strong>Feedback:</strong> " + feedback);
  }
  
  function showFeedbackSlideIdTooltip(event) {
    var $el = $(event.target),
        tooltipContent = '<strong>Feedback:</strong> Slide ' + $el.data("feedbackId");
    
    showTooltip(event, tooltipContent);
  }
  
  function findFeedbackId($el) {
    if (typeof $el.data("feedbackId") !== "undefined") {
      return $el.data("feedbackId");
    } else if ($el.closest('[data-clue]').length) {
      var $closestClue = $el.closest('[data-clue]');
      if (typeof $closestClue.data("feedbackId") !== "undefined") {
        return "Slide " + $closestClue.data("feedbackId");
      } else {
        return "Show Checkmark";
      }
    }
    return "";
  }
  
  function showLinkHrefTooltip(event) {
    var $el = $(event.target),
        //possibleFeeddbackId = $el.data("feedbackId"),
        //feedbackId = possibleFeeddbackId || $el.closest('[data-clue]').data("feedbackId"),
        //feedbackIdNote = feedbackId ? '<br><strong>Feedback:</strong> Slide ' + feedbackId : '',
        feedbackId = findFeedbackId($el),
        feedbackIdNote = feedbackId ? '<br><strong>Feedback:</strong> ' + feedbackId : '',
        tooltipContent = $el.attr("href") + feedbackIdNote;
    //console.log(possibleFeeddbackId);
    //console.log(feedbackId);
    showTooltip(event, tooltipContent);
  }
  
  function showTooltip(event, content) {
    var $el = $(event.target),
        isKeyboardFocus = event.type === "focusin",
        offset = $el.offset(),
        tooltipX = isKeyboardFocus ? offset.left : event.pageX,
        tooltipY = isKeyboardFocus ? offset.top + $el.height() : event.pageY,
        windowWidth = $(window).width() - 8, // Allow a bit of space between the tooltip and the edge
        minWidth = windowWidth < 400 ? windowWidth : 400,
        maxWidth = windowWidth - tooltipX;
    
    if (maxWidth < minWidth) {
      tooltipX = tooltipX - (minWidth - maxWidth);
      maxWidth = minWidth;
    }
    
    $('div.sample-tooltip').remove();
    $('<div class="sample-tooltip dont-break-out"></div>').html(content).appendTo('body').css({top: tooltipY + "px", left: tooltipX + "px", "max-width": maxWidth + "px"});
  }
  
  function hideTooltip(event) {
    $('div.sample-tooltip').remove();
  }
</script>