/* =================================
 * Framework overrides
 * ================================= */
 
/* Hide the top nav */
#wb-sm {
  display: none !important;
}

/* Hide the footer nav on Start and Guardian selection screens */
[data-nav="m0"] #wb-info .backnext .back, [data-nav="m0"] #wb-info .backnext .next,
[data-nav="m1-0"] #wb-info .backnext .back, [data-nav="m1-0"] #wb-info .backnext .next {
  display: none !important;
}
/*[data-nav="m0"] #wb-info .backnext span,
[data-nav="m1-0"] #wb-info .backnext span {
  margin-right: 122px;
}*/


/* Hide smallview breadcrumb and top nav */
.breadcrumb, #topbacknext {
  display: none !important;
}

/* Gain some more space at the top */
#wb-sttl {
  padding-top: 0;
}

/* <atch button color to theme's body background color */
.btn-default {
  background-color: #23303c;
}

/* Prevent text color from changing in visted links styled as buttons */
a.btn-default:visited {
  color: #fff;
}

/* Maintain background color on hover, once set to active */
.btn-default.active:hover {
  color: #335075;
  background-color: #cfd1d5;
  border-color: #bbbfc5;
}

/* Restyle the WET lightbox*/
.modal-dialog {
  border-radius: 0;
  border: 3px solid #000;
  box-shadow: 0px 0px 10px 0px rgba(0,196,240,1);
}
.modal-content {
}
.overlay-def header {
  background-color: #3e3e3e;
}

ol li, ul li {
  margin-bottom: 11.5px;
}

main {
  background: #000 url(../../content/medias/images/bg_1170_800.jpg) top center no-repeat;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#wb-info .container {
  background-color: #000;
}

/* Reproduce invisible text class here, in case WET CSS isn't loaded */
.wb-inv {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

/* =================================
 * Audo controllers
 * ================================= */

.modal-footer .audio-wrapper {
  position: relative;
  width: 100%;
}

.modal-footer .popup-modal-dismiss {
  display: none;
}

.modal-footer details {
  text-align: left;
}

.modal-footer summary {
  text-align: left;
}

.narration-wrapper {
  background-color: #000;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.audio-wrapper .wb-mltmd {
  width: 400px;
}

.audio-wrapper .wb-mm-prgrss progress {
  background: #fff;
  border: 3px solid #3e3e3e;
  border-radius: 4px;
  color: #00C4F0; /*#0078D7;*/ /*#176ca7;*/
  display: block;
  height: 12px;
  left: 0;
  padding: 1px;
  position: absolute;
  top: 0;
  width: 100%;
}

.audio-wrapper .wb-mm-ctrls {
  padding-top: 12px;
}

.narration-wrapper .wb-mm-ctrls, .modal-footer.narration-controls .wb-mm-ctrls {
  padding-top: 12px;
  background-color: #23303c;
  border-width: 0;
  border-bottom-left-radius: 8px;
  background: rgba(0,0,0,0.75);
  border-bottom-left-radius: 0;
}

.modal-footer.narration-controls {
  background: #000;
  color: #FFF;
  padding: 0;
}

.narration {
  min-height: 400px;
  background-color: #EFEFEF;
  padding: 10px 15px;
}
.narration-section {
  opacity: 0;
}

.wb-mm-ctrls .btn:focus, .wb-mm-ctrls progress:focus, .wb-mm-ctrls input[type=range]:focus {
  outline: 1px solid #00A6CE;
}

#globalNarrationWrapper {
  padding-bottom: 40px;
}

.narration-wrapper {
}
.narration-wrapper details, .modal-footer.narration-controls details {
  background: #333;
  background: rgba(0,0,0,0.75);
  color: #FFF;
  border: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.narration-wrapper details[open] {
  border: 1px solid #00A6CE;
  border: 1px solid #000;
  border-radius: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: inset 0px 0px 10px 0px rgba(0,196,240,1);
}
.modal-footer.narration-controls details[open] {
  border: 1px solid #000;
  border-radius: 0;
  background: #FFF;
  background: rgba(255,255,255,0.85);
  color: #000;
}
.narration-wrapper summary, .modal-footer.narration-controls summary {
  background: #333;
  background: rgba(0,0,0,0.75);
  color: #FFF;
  border: 1px solid #000;
  border-radius: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.narration-wrapper summary:hover, .narration-wrapper summary:focus, .modal-footer.narration-controls summary:hover, .modal-footer.narration-controls summary:focus {
  /*border: 1px solid #00A6CE;
  border: 1px solid #01A7CF;
  box-shadow: 0px 0px 10px 0px rgba(0,196,240,0.5);*/
  /*border: 1px solid #353F7A;*/
  color: #FFF;
}
.narration-wrapper details[open] summary, .modal-footer.narration-controls details[open] summary {
  border: 0;
  background: transparent;
  box-shadow: none;
}
.modal-footer.narration-controls details[open] summary {
  background: #333;
  background: rgba(0,0,0,0.75);
  color: #FFF;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 15px;
}
.narration-wrapper details :last-child, .modal-footer.narration-controls details :last-child {
  margin-bottom: 0;
}

/* =================================
 * Global lightbozes
 * ================================= */
.hidden-lbx-trigger {
  display: none;
}

/* =================================
 * Custom nav bar
 * ================================= */

#wb-info {
  margin-top: 0;
  height: 58px;
}

#wb-info .container {
  position: relative;
  border: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

footer .backnext {
  position: absolute;
  height: 100%;
  text-align: right;
  top: 0;
  right: 0;
}
/*.wrapper-custom-nav {
  position: relative;
  padding-bottom: 55px;
  min-height: 439px;
}

.custom-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  text-align: right;
  color: #FFF;
  padding-left: 400px;
}*/

footer .backnext span {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 8px 4px 8px;
  background: rgba(0,0,0,0.75);
  border: 0;
  border-radius: 1em;
}

/*.nav-button-spacer {
  display: inline-block;
  border-width: 0;
  width: 117px;
  height: 53px;
  font-family: Calibri, sans serif;
  font-size: 20px;
}*/

footer#wb-info .backnext a::before, footer#wb-info .backnext a::after {
  border: 0;
}
footer#wb-info .backnext a {
  padding-top: 3px;
}

.nav-button, .nav-button.disabled:hover, .nav-button.disabled:active,
footer .backnext a.next, footer .backnext a.back,
footer .backnext a.back.disabled:hover, footer .backnext a.back.disabled:active,
footer .backnext a.next.disabled:hover, footer .backnext a.next.disabled:active {
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url(../../content/medias/images/btn_117x53.png);
  border-width: 0;
  width: 117px;
  height: 53px;
  /*font-family: Calibri, sans serif;
  font-size: 20px;*/
  font-family: Arial;
  font-size: 16px;
  color: #FFF;
}
.nav-button:hover, .nav-button:focus, .nav-button:active, .nav-button:active:focus,
footer .backnext a.next:hover, footer .backnext a.next:focus, footer .backnext a.next:active, footer .backnext a.next:active:focus, 
footer .backnext a.back:hover, footer .backnext a.back:focus, footer .backnext a.back:active, footer .backnext a.back:active:focus {
  background-color: transparent;
  background-image: url(../../content/medias/images/btn_117x53_over.png);
  box-shadow: none;
  outline: 0;
  color: #FFF;
  /*font-size: 20px;*/
  font-size: 16px;
}
.nav-button.light-bg:hover, .nav-button.light-bg:focus, .nav-button.light-bg:active, .nav-button.light-bg:active:focus {
  background-image: url(../../content/medias/images/btn_117x53_over_light_bg.png);
}
.nav-button-wide {
  background-image: url(../../content/medias/images/btn_180x53.png);
  width: 180px;
}
.nav-button-wide:hover, .nav-button-wide:focus, .nav-button-wide:active, .nav-button-wide:active:focus {
  background-image: url(../../content/medias/images/btn_180x53_over.png);
}
.nav-button-wide.light-bg:hover, .nav-button-wide.light-bg:focus, .nav-button-wide.light-bg:active, .nav-button-wide.light-bg:active:focus {
  background-image: url(../../content/medias/images/btn_180x53_over_light_bg.png);
}
.nav-button-extra-wide {
  background-image: url(../../content/medias/images/btn_200x53.png);
  width: 200px;
}
.nav-button-extra-wide:hover, .nav-button-extra-wide:focus, .nav-button-extra-wide:active, .nav-button-extra-wide:active:focus {
  background-image: url(../../content/medias/images/btn_200x53_over.png);
}
.nav-button-extra-wide.light-bg:hover, .nav-button-extra-wide.light-bg:focus, .nav-button-extra-wide.light-bg:active, .nav-button-extra-wide.light-bg:active:focus {
  background-image: url(../../content/medias/images/btn_200x53_over_light_bg.png);
}
.nav-button-safe {
  background-image: url(../../content/medias/images/btn_180x53_green.png);
  width: 180px;
}
.nav-button-safe:hover, .nav-button-safe:focus, .nav-button-safe:active, .nav-button-safe:active:focus {
  background-image: url(../../content/medias/images/btn_180x53_green_over.png);
}
.nav-button-report {
  background-image: url(../../content/medias/images/btn_180x73_orange.png);
  width: 180px;
  height: 73px;
}
.nav-button-report:hover, .nav-button-report:focus, .nav-button-report:active, .nav-button-report:active:focus {
  background-image: url(../../content/medias/images/btn_180x73_orange_over.png);
}
.nav-button:active,
footer .backnext a.next:active, footer .backnext a.back:active {
  background-position: 0 1px;
  padding-top: 7px;
}
.nav-button.disabled,
footer .backnext a.disabled {
  opacity: 0.4;
}
#imagePreloader {
  background: url(../../content/medias/images/btn_117x53_over.png), url(../../content/medias/images/btn_117x53_over_light_bg.png), url(../../content/medias/images/btn_180x53_over_light_bg.png), url(../../content/medias/images/btn_180x53_green_over.png), url(../../content/medias/images/btn_180x73_orange_over.png);
}

#btnSafe, #btnNextEmail, #btnReport,
#btnContinue, #btnConfirmGuardian, #btnGo, #btnResults, #btnQuit {
  margin: 0 auto;
  display: block;
}

/* =================================
 * Custom content
 * ================================= */

#dynamic_content {
  min-height: 439px;
}
.framed-content {
  width: 754px;
  margin: 60px auto;
}
 
.image-preload {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;
  padding: 1px;
  overflow: hidden;
}

/* Help browsers break long URLs: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
   #helpDialog {
    width: 90%;
   }
}
 
[data-nav="m0"] main {
  background: #000 url(../../content/medias/images/bg_1170_516.jpg) bottom center no-repeat;
}

.instructions-start {
  color: #FFF;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
  text-align: center;
  font-size: 22px;
}
#startButtons {
  display: block;
  text-align: center;
}

#narrationMessageWrapper {
  width: 100%;
  display: none;
}
#narrationMessage {
  
}
#narrationMessage #contentFrameDark {
  padding: 20px 120px;
}
/*xs*/
@media (max-width: 767px) {
  #narrationMessage #contentFrameDark {
    padding: 10px 20px;
  }
}
#narrationMessage h2 {
  margin-top: 0;
}
#narrationMessage a {
  color: #EFEFEF;
}
#narrationMessage a:hover, #narrationMessage a:focus {
  color: #FFFFFF;
}

#startLogo {
  margin: 50px 0 0 0;
  text-align: center;
}
#startLogo img {
  max-width: 100%;
}

#contentFrameDark, #contentFrameDarkTop, #contentFrameDarkBottom {
  background: rgba(0,0,0,0.75);
  border: 1px solid #999;
  margin: 0 auto;
  color: #FFF;
}
#contentFrameDark {
  min-height: 336px;
  padding: 10px 20px;
  border-top: 0 none;
  border-bottom: 0 none;
  position: relative;
}
#contentFrameDarkTop {
  height: 27px;
  border-bottom: 0 none;
  margin-top: 20px;
}
#contentFrameDarkBottom {
  height: 38px;
  border-top: 0 none;
  margin-bottom: 20px;
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  #contentFrameDark, #contentFrameDarkTop, #contentFrameDarkBottom {
    width: 720px;
    border: 0 none;
  }
  #contentFrameDark {
    background: transparent url(../../content/medias/images/bg_contentDarkSmall_mid.png) 50% 50% no-repeat;
    padding: 0 50px 20px 50px;
  }
  #contentFrameDarkTop {
    background: transparent url(../../content/medias/images/bg_contentDarkSmall_top.png) 0 0 no-repeat;
  }
  #contentFrameDarkBottom {
    background: transparent url(../../content/medias/images/bg_contentDarkSmall_btm.png) 0 0 no-repeat;
  }
}

/*md and lg*/
@media (min-width: 992px) {
  #contentFrameDark, #contentFrameDarkTop, #contentFrameDarkBottom {
    width: 798px;
    border: 0 none;
  }
  #contentFrameDark {
    background: transparent url(../../content/medias/images/bg_contentDarkLarge_mid.png) 50% 50% no-repeat;
    padding: 0 50px 20px 50px;
  }
  #contentFrameDarkTop {
    background: transparent url(../../content/medias/images/bg_contentDarkLarge_top.png) 0 0 no-repeat;
  }
  #contentFrameDarkBottom {
    background: transparent url(../../content/medias/images/bg_contentDarkLarge_btm.png) 0 0 no-repeat;
  }
}

[data-nav="m1-0"] #dynamic_content h1 {
  padding-top: 0;
  font-weight: normal;
  margin-bottom: 15px;
}
[data-nav="m1-0"] #dynamic_content h2 {
  font-weight: normal;
  margin-top: 20px;
}

#guardianList {
  margin: 20px 0 15px 0;
  text-align: center;
}
.guardian-button {
  display: inline-block;
  margin-right: 21px;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  outline: 0;
}
.guardian-button:last-child {
  margin-right: 0;
}
#guardian1, #guardian2, #guardian3, #guardian4, #missionFolderGuardian {
  width: 152px;
  height: 154px;
}
#guardian1, #missionFolderGuardian {
  background-image: url(../../content/medias/images/guardian_1.png);
}
#guardian1:hover, #guardian1:focus, 
#missionFolderLink:hover #missionFolderGuardian, #missionFolderLink:focus #missionFolderGuardian {
  background-image: url(../../content/medias/images/guardian_1_over.png);
}
#guardian1[aria-checked="true"]{
  background-image: url(../../content/medias/images/guardian_1_selected.png);
}
#guardian1[aria-checked="true"]:hover, #guardian1[aria-checked="true"]:focus {
  background-image: url(../../content/medias/images/guardian_1_selected_over.png);
}

#guardian2,
.guardian-1 #missionFolderGuardian  {
  background-image: url(../../content/medias/images/guardian_2.png);
}
#guardian2:hover, #guardian2:focus,
.guardian-1 #missionFolderLink:hover #missionFolderGuardian, .guardian-1 #missionFolderLink:focus #missionFolderGuardian {
  background-image: url(../../content/medias/images/guardian_2_over.png);
}
#guardian2[aria-checked="true"] {
  background-image: url(../../content/medias/images/guardian_2_selected.png);
}
#guardian2[aria-checked="true"]:hover, #guardian2[aria-checked="true"]:focus {
  background-image: url(../../content/medias/images/guardian_2_selected_over.png);
}

#guardian3,
.guardian-2 #missionFolderGuardian {
  background-image: url(../../content/medias/images/guardian_3.png);
}
#guardian3:hover, #guardian3:focus,
.guardian-2 #missionFolderLink:hover #missionFolderGuardian, .guardian-2 #missionFolderLink:focus #missionFolderGuardian {
  background-image: url(../../content/medias/images/guardian_3_over.png);
}
#guardian3[aria-checked="true"] {
  background-image: url(../../content/medias/images/guardian_3_selected.png);
}
#guardian3[aria-checked="true"]:hover, #guardian3[aria-checked="true"]:focus {
  background-image: url(../../content/medias/images/guardian_3_selected_over.png);
}

#guardian4,
.guardian-3 #missionFolderGuardian {
  background-image: url(../../content/medias/images/guardian_4.png);
}
#guardian4:hover, #guardian4:focus,
.guardian-3 #missionFolderLink:hover #missionFolderGuardian, .guardian-3 #missionFolderLink:focus #missionFolderGuardian {
  background-image: url(../../content/medias/images/guardian_4_over.png);
}
#guardian4[aria-checked="true"] {
  background-image: url(../../content/medias/images/guardian_4_selected.png);
}
#guardian4[aria-checked="true"]:hover, #guardian4[aria-checked="true"]:focus {
  background-image: url(../../content/medias/images/guardian_4_selected_over.png);
}

/*sm, xs*/
@media (max-width: 991px) {
  #guardian1, #guardian2, #guardian3, #guardian4 {
    width: 100px;
    height: 101px;
  }
  #guardian1 {
    background-image: url(../../content/medias/images/guardian_1_sm.png);
  }
  #guardian1:hover {
    background-image: url(../../content/medias/images/guardian_1_over_sm.png);
  }
  #guardian1[aria-checked="true"] {
    background-image: url(../../content/medias/images/guardian_1_selected_sm.png);
  }
  #guardian1[aria-checked="true"]:hover {
    background-image: url(../../content/medias/images/guardian_1_selected_over_sm.png);
  }

  #guardian2 {
    background-image: url(../../content/medias/images/guardian_2_sm.png);
  }
  #guardian2:hover {
    background-image: url(../../content/medias/images/guardian_2_over_sm.png);
  }
  #guardian2[aria-checked="true"] {
    background-image: url(../../content/medias/images/guardian_2_selected_sm.png);
  }
  #guardian2[aria-checked="true"]:hover {
    background-image: url(../../content/medias/images/guardian_2_selected_over_sm.png);
  }

  #guardian3 {
    background-image: url(../../content/medias/images/guardian_3_sm.png);
  }
  #guardian3:hover {
    background-image: url(../../content/medias/images/guardian_3_over_sm.png);
  }
  #guardian3[aria-checked="true"] {
    background-image: url(../../content/medias/images/guardian_3_selected_sm.png);
  }
  #guardian3[aria-checked="true"]:hover {
    background-image: url(../../content/medias/images/guardian_3_selected_over_sm.png);
  }

  #guardian4 {
    background-image: url(../../content/medias/images/guardian_4_sm.png);
  }
  #guardian4:hover {
    background-image: url(../../content/medias/images/guardian_4_over_sm.png);
  }
  #guardian4[aria-checked="true"] {
    background-image: url(../../content/medias/images/guardian_4_selected_sm.png);
  }
  #guardian4[aria-checked="true"]:hover {
    background-image: url(../../content/medias/images/guardian_4_selected_over_sm.png);
  }
}

#confirmGuardianButtonWrapper {
  text-align: center;
}

#preloadGuardianButtonImages {
  background: url(../../content/medias/images/guardian_1_over.png), url(../../content/medias/images/guardian_1_selected.png), url(../../content/medias/images/guardian_1_selected_over.png), url(../../content/medias/images/guardian_2_over.png), url(../../content/medias/images/guardian_2_selected.png), url(../../content/medias/images/guardian_2_selected_over.png), url(../../content/medias/images/guardian_3_over.png), url(../../content/medias/images/guardian_3_selected.png), url(../../content/medias/images/guardian_3_selected_over.png), url(../../content/medias/images/guardian_4_over.png), url(../../content/medias/images/guardian_4_selected.png), url(../../content/medias/images/guardian_4_selected_over.png), url(../../content/medias/images/guardian_1_over_sm.png), url(../../content/medias/images/guardian_1_selected_sm.png), url(../../content/medias/images/guardian_1_selected_over_sm.png), url(../../content/medias/images/guardian_2_over_sm.png), url(../../content/medias/images/guardian_2_selected_sm.png), url(../../content/medias/images/guardian_2_selected_over_sm.png), url(../../content/medias/images/guardian_3_over_sm.png), url(../../content/medias/images/guardian_3_selected_sm.png), url(../../content/medias/images/guardian_3_selected_over_sm.png), url(../../content/medias/images/guardian_4_over_sm.png), url(../../content/medias/images/guardian_4_selected_sm.png), url(../../content/medias/images/guardian_4_selected_over_sm.png);
}


.results-guardian, .quit-page-guardian, .content-guardian {
  min-height: 101px;
  padding: 40px 15px 0 135px;
  background: url(../../content/medias/images/guardian_1_sm.png) 20px 0 no-repeat;
}
.guardian-1 .results-guardian, .guardian-1 .quit-page-guardian, .guardian-1 .content-guardian {
  background-image: url(../../content/medias/images/guardian_2_sm.png);
}
.guardian-2 .results-guardian, .guardian-2 .quit-page-guardian, .guardian-2 .content-guardian {
  background-image: url(../../content/medias/images/guardian_3_sm.png);
}
.guardian-3 .results-guardian, .guardian-3 .quit-page-guardian, .guardian-3 .content-guardian {
  background-image: url(../../content/medias/images/guardian_4_sm.png);
}
.results-guardian p {
  font-size: 20px;
}
.xsmallview .results-guardian {
  padding-top: 25px;
}
.xxsmallview .results-guardian {
  padding-top: 5px;
}
.quit-page-guardian {
  padding-top: 1px;
}


/* 152 x 154 */
.content-guardian {
  min-height: 154px;
  padding: 40px 15px 0 189px;
  background: url(../../content/medias/images/guardian_1.png) 0 0 no-repeat;
}
.guardian-1 .content-guardian {
  background-image: url(../../content/medias/images/guardian_2.png);
}
.guardian-2 .content-guardian {
  background-image: url(../../content/medias/images/guardian_3.png);
}
.guardian-3 .content-guardian {
  background-image: url(../../content/medias/images/guardian_4.png);
}

/*sm, xs*/
@media (max-width: 991px) {
  .content-guardian {
    min-height: 101px;
    padding: 40px 15px 0 135px;
    background: url(../../content/medias/images/guardian_1_sm.png) 0 0 no-repeat;
  }
  .guardian-1 .content-guardian {
    background-image: url(../../content/medias/images/guardian_2_sm.png);
  }
  .guardian-2 .content-guardian {
    background-image: url(../../content/medias/images/guardian_3_sm.png);
  }
  .guardian-3 .content-guardian {
    background-image: url(../../content/medias/images/guardian_4_sm.png);
  }
}



#contentFrame {
  background: rgba(255,255,255,0.9);
  min-height: 367px;
  margin: 0 auto;
  padding: 10px 20px;
}
#contentFrameTop {
  background: rgba(255,255,255,0.9);
  height: 24px;
  margin: 10px auto 0;
}
#contentFrameBottom {
  background: rgba(255,255,255,0.9);
  height: 23px;
  margin: 0 auto 10px;
}

#contentFrame h1 {
  padding-top: 0;
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  #contentFrame, #contentFrameTop, #contentFrameBottom {
    width: 720px;
  }
  #contentFrame {
    background: transparent url(../../content/medias/images/bg_contentSmall_mid.png) 50% 50% no-repeat;
    padding: 20px 50px;
  }
  [data-nav="m1-3"] #contentFrame {
    padding: 10px 20px;
  }
  #contentFrameTop {
    background: transparent url(../../content/medias/images/bg_contentSmall_top.png) 0 0 no-repeat;
  }
  #contentFrameBottom {
    background: transparent url(../../content/medias/images/bg_contentSmall_btm.png) 0 0 no-repeat;
  }
}
 
/*md*/
/*@media (min-width: 992px) and (max-width: 1199px) {*/
@media (min-width: 992px) {
  #contentFrame, #contentFrameTop, #contentFrameBottom {
    width: 940px;
  }
  #contentFrame {
    background: transparent url(../../content/medias/images/bg_contentMedium_mid.png) 50% 50% no-repeat;
    padding: 20px 50px;
  }
  [data-nav="m1-3"] #contentFrame {
    padding: 10px 20px;
  }
  #contentFrameTop {
    background: transparent url(../../content/medias/images/bg_contentMedium_top.png) 0 0 no-repeat;
  }
  #contentFrameBottom {
    background: transparent url(../../content/medias/images/bg_contentMedium_btm.png) 0 0 no-repeat;
  }
}

.halt-list {
  list-style-type: none;
  width: 150px;
  margin: 0 auto;
  padding: 0;
}

.halt-list li {
  margin-bottom: 3px;
  text-align: left;
  font-size: 18px;
  padding-left: 30px;
  position: relative;
}

.halt-list {
  width: 180px;
}
.halt-list li {
  padding-left: 0;
}
.halt-button:link, .halt-button:visited {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url(../../content/medias/images/btn_180x53.png);
  border-width: 0;
  width: 180px;
  height: 53px;
  font-family: Calibri, sans serif;
  font-size: 20px;
  color: #FFF;
  padding-top: 11px;
}

.halt-button:hover, .halt-button:focus, .halt-button:active, .halt-button:active:focus {
  background-color: transparent;
  background-image: url(../../content/medias/images/btn_180x53_over_light_bg.png);
  box-shadow: none;
  outline: 0;
  color: #FFF;
  font-size: 20px;
}
.halt-button:active, .halt-button:active:focus {
  background-position: 0 1px;
  padding-top: 12px;
}
/* Assume glyphicons font is set up via WET */
.halt-list .viewed-indicator:before {
  position: absolute;
  top: 15px;
  left: 16px;
  width: 20px;
  height: 20px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  content: "•";
  color: #CCC;
}
.halt-list li.viewed .viewed-indicator:before {
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e013";
  color: #C4F2FA;
}
.halt-list .viewed .halt-button:hover .viewed-indicator:before, .halt-list .viewed .halt-button:focus .viewed-indicator:before,
.halt-list .viewed .halt-button:active .viewed-indicator:before, .halt-list .viewed .halt-button:active:focus .viewed-indicator:before {
  color: #00C4F0;
}
.halt-button:active .viewed-indicator:before, .halt-button:active:focus .viewed-indicator:before {
  top: 16px;
}


.halt-highlight {
  font-weight: bold;
  color: #B35900;
}

#hoverDemonstration {
  position: relative;
  width: 100%;
  height: 70px;
  margin-bottom: 15px;
  background: rgba(0,0,0,0.1);
}

#hoverDemonstration .fake-link {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #00F;
  text-decoration: underline;
  z-index: 0;
}

#hoverDemonstration i {
  position: absolute;
  top: 30px;
  left: 10px;
  color: #333;
  z-index: 1002;
}

#hoverDemonstration .fake-link-tooltip {
  position: absolute;
  top: 28px;
  left: 28px;
  opacity: 0;
  border: 1px solid #000;
  background: #EFEFEF;
  color: #000;
  font-size: 12px;
  padding: 5px;
  z-index: 1001;
}

.list-inline {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.list-inline li {
  display: inline-block;
}

.list-no-bullets {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.list-no-bullets li {
}

.domain-label, .inline-label-domain {
  color: #B35900;
  font-weight: bold;
}

.inline-highlight-domain {
  display: inline-block;
  border: 2px solid #B35900;
  padding: 2px 4px;
}

.subdomain-label, .inline-label-subdomain {
  color: #2B7488;
  font-weight: bold;
}

.inline-highlight-subdomain {
  display: inline-block;
  border: 2px solid #2B7488;
  padding: 2px 4px;
}

.has-inline-label {
  margin-bottom: 40px; 
}

.has-inline-label .inline-highlight-domain,
.has-inline-label .inline-highlight-subdomain {
  position: relative;
}

.domain-examples {
  padding-left: 30px;
}

.inline-label {
  position: absolute;
  top: 28px;
  left: 6px;
}

.halt-letter {
  color: #B35900;
  font-size: 20px;
  font-weight: bold;
}

.halt-list .viewed-bullet .halt-letter {
  color: inherit;
}

.halt-vertical-p {
  margin-top: 50px;
  margin-bottom: 70px;
}

.halt-vertical-wrapper {
  display: inline-block;
  overflow: visible;
  position: relative;
  width: 70px;
}
.halt-vertical {
  display: block;
  position: absolute;
  top: -51px;
  left: 0;
  line-height: 1.3;
}

#missionFolderWrapper {
  position: relative;
  width: 100%;
  min-height: 400px;
}
#missionFolderLink {
  display: block;
  position: absolute;
  width: 420px;
  height: 310px;
  top: 0;
  left: 300px;
  z-index: 102;
  transform-origin: top left;
}
#missionFolderBack {
  display: block;
  position: absolute;
  top: 20px;
  left: 10px;
  background-color: #222222;
  border: 1px solid #000000;
  border-top-right-radius: 6px;
  width: 400px;
  height: 300px;
  box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,0.4);
  z-index: 100;
}
#missionFolderBack:after {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  left: -1px;
  background-color: #222222;
  border: 1px solid #000000;
  border-bottom-width: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 100px;
  height: 24px;
  box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,0.4);
}
#missionFolderFront {
  display: block;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #333333;
  border: 1px solid #000000;
  border-radius: 6px;
  width: 420px;
  height: 280px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,0.3);
  z-index: 102;
}
#missionFolderFront:after {
  content: "";
  display: block;
  position: absolute;
  top: 200px;
  left: 0;
  background-color: #000;
  width: 418px;
  height: 30px;
  box-shadow: inset 0px -2px 2px 0px rgba(255,255,255,0.2);
}

#missionFolderGuardian {
  display: block;
  position: relative;
  margin: 25px auto;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  /* Remaining guardian image rules are under .guardian-button */
}

.mission-paper {
  position: relative;
  margin: 0 auto;
  margin-left: 200px;
  transform-origin: top left;
  z-index: 101;
  padding: 10px;
  background-color: #FFF;
  font-family: Courier New, monospace;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
}
/*lg*/
/*md*/
@media (min-width: 992px) {
  .mission-paper {
    width: 788px; /*content area is 940px wide*/
  }
}
/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .mission-paper {
    width: 568px; /*content area is 720px wide*/
  }
}
/*xs*/
@media (max-width: 767px) {
  .mission-paper {
    width: 100%;
    margin-left: 0;
  }
}

*.fade-in-list {
  position: relative;
  list-style-type: none;
}
.fade-in-list li {
  position: relative;
  padding-left: 20px;
}
.fade-in-list li .list-bullet {
  position: absolute;
  top: 0;
  left: 0px;
  width: 1em;
  height: 1em;
}

[data-nav="m1-5"] #dynamic_content h2 {
  font-weight: normal;
  margin-top: 0;
}

.relative-container {
  position: relative;
}

.alert-info-on-white {
  border-top: 1px solid #269abc;
  border-right: 1px solid #269abc;
  border-bottom: 1px solid #269abc;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.alert-info.hide-icon > :first-child::before {
  content: "";
}

.zoom-word {
  display: inline-block;
  position: relative;
}

.pulse-dot {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #14BFF4;
    cursor: pointer;
    color: #fff;
    z-index: 10;
    border-radius: 50%;
    border: 2px solid #14BFF4;
    -webkit-transition: compact(all 400ms cubic-bezier(0.415, 0, 0.185, 1) 0s);
    transition: compact(all 400ms cubic-bezier(0.415, 0, 0.185, 1) 0s);
}

.pulse-dot::before {
    -webkit-animation: pulse 3s ease 0s infinite;
    animation: pulse 3s ease 0s infinite;
    position: absolute;
    content: " ";
    width: 32px;
    height: 32px;
    top: -6px;
    left: -6px;
    background-color: #14BFF4;
    border-radius: 50%;
}

.dev-note {
  margin-top: 20px;
}

/* =================================
 * Game UI
 * ================================= */
.section-with-hidden-heading {
  margin-top: 38px;
}

/* Hide focus outline */
#gameWrapper,
#clueIndicators,
#pointsIndicators {
  outline: 0;
}

#gameUI {
  /*background: #000;*/
  min-height: 400px;
}
#gameUI h2 {
  margin-top: 15px;
}
#gameUILeft {
  position: absolute;
  top: 0;
  left: 0;
  color: #FFF;
  min-height: 436px;
  width: 200px;
  padding: 0 10px 125px 10px;
}
#gameUICenter {
  position: relative;
  margin-left: 174px;
  margin-right: 174px;
  padding: 0 10px 10px 10px;
  min-height: 436px;
}
#pointsIndicators, .game-ui-button-wrapper {
  position: absolute;
  width: 180px;
  bottom: 20px;
}
#gameUIRight {
  position: absolute;
  top: 0;
  right: 0;
  color: #FFF;
  min-height: 436px;
  width: 200px;
  padding: 0 10px 125px 10px;
}
.instructions {
  color: #090;
}


#gameUIFrame {
  background: rgba(255,255,255,0.9);
  min-height: 367px;
  margin: 0 auto;
  padding: 10px 20px;
}
#gameUIFrameTop {
  background: rgba(255,255,255,0.9);
  height: 24px;
  margin: 10px auto 0;
}
#gameUIFrameBottom {
  background: rgba(255,255,255,0.9);
  height: 23px;
  margin: 0 auto 10px;
}
.xlargeview #gameUIFrame, .largeview #gameUIFrame {
  background: transparent url(../../content/medias/images/bg_emailLarge_mid.png) 50% 50% no-repeat;
  width: 772px;
}
.xlargeview #gameUIFrameTop, .largeview #gameUIFrameTop {
  background: transparent url(../../content/medias/images/bg_emailLarge_top.png) 0 0 no-repeat;
  width: 772px;
}
.xlargeview #gameUIFrameBottom, .largeview #gameUIFrameBottom {
  background: transparent url(../../content/medias/images/bg_emailLarge_btm.png) 0 0 no-repeat;
  width: 772px;
}
.mediumview #gameUIFrame {
  background: transparent url(../../content/medias/images/bg_emailMedium_mid.png) 50% 50% no-repeat;
  width: 572px;
}
.mediumview #gameUIFrameTop {
  background: transparent url(../../content/medias/images/bg_emailMedium_top.png) 0 0 no-repeat;
  width: 572px;
}
.mediumview #gameUIFrameBottom {
  background: transparent url(../../content/medias/images/bg_emailMedium_btm.png) 0 0 no-repeat;
  width: 572px;
}


.guess-indicator {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: transparent url(../../content/medias/images/clues_blank.png) 0 0 no-repeat;
}
.guess-indicator:before {
  content: "";
}
#guessIndicators {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
#guessIndicators .success {
  background-image: url(../../content/medias/images/clues_correct.png);
}
  
#guessIndicators .fail {
  background-image: url(../../content/medias/images/clues_wrong.png);
}

#clueFoundIndicators {
  list-style-type: none;
  padding-left: 0;
  margin: 10px;
}
.clue-found-indicator {
  margin: 0 auto;
  width: 64px;
  height: 62px;
  background: transparent url(../../content/medias/images/target_off.png) 0 0 no-repeat;
}
.clue-found-indicator.found {
  background-image: url(../../content/medias/images/target_on.png);
}

#totalPoints {
  background: transparent url(../../content/medias/images/bg_score.png) 50% 50% no-repeat;
  color: #333;
  width: 180px;
  height: 53px;
  padding-top: 12px;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
}

.identify-type-button {
  margin-bottom: 20px;
}

.identify-type-button:last-child {
  margin-bottom: 0;
}

.move-next-button {
  /*width: 100%;*/
}


#scenarioWrapper > h1 {
  padding-top: 0;
}

#mailDialog {
  background: #BEDEFD; /*#EFF6FC;*/
  box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,1);
  border: 1px solid #38414A;
  border-radius: 5px;
  padding: 5px;
  /*margin: 0 3px 3px 3px;*/
  font-family: "Segoe UI", Arial, _sans;
}
#mailDialogBg {
  background: #FFFFFF;
  box-shadow: 0px 0px 1px 1px rgba(255,255, 255,0.8);
  padding: 7px 6px;
  border: 1px solid #60646D;
}
#mailDialog h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
}
.mail-dialog-header-row {
  position: relative;
  overflow: hidden;
}
.mail-dialog-header-col-2 {
  margin-left: 10px;
  display: inline-block;
}
.mail-dialog-header-label {
  width: 80px;
  display: inline-block;
  color: #999;
}
.mail-dialog-header-value {
  display: inline-block;
}
.mail-dialog-header-col-2 .mail-dialog-header-label {
  width: 60px;
}
#mailDialogPane {
  background: #FFF;                           
  padding: 10px;
  border-top: 1px dashed #A5ACB5;
  min-height: 300px;
  margin-top: 3px;
}

#mailDialogAttachmentRow {
  border-top: 1px dashed #A5ACB5;
  margin-top: 3px;
  padding-top: 3px;
  background: #f7f8fa; /* Old browsers */
  background: linear-gradient(to bottom, #f7f8fa 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.has-contact-indicator {
  position: relative;
  padding-left: 20px;
  background: transparent url(../../content/medias/images/contact-indicator.png) 0 50% no-repeat;
  font-size: 18px;
}
.attachment {
  display: inline-block;
  margin-left: 10px;
  min-height: 16px;
  padding: 2px 5px 5px 5px;
}
.attachment:first-of-type {
  margin-left: 0;
}
.att-message {
  padding-left: 22px;
  background: #E5E5E5 url(../../content/medias/images/icon_email_message.png) 5px 50% no-repeat;
}
.att-ie {
  padding-left: 20px;
  background: transparent url(../../content/medias/images/icon_ie.png) 0 50% no-repeat;
}
.att-doc {
  padding-left: 20px;
  background: transparent url(../../content/medias/images/icon_doc.png) 0 50% no-repeat;
}
.att-pdf {
  padding-left: 20px;
  background: transparent url(../../content/medias/images/icon_pdf.png) 0 50% no-repeat;
}
.att-ppt {
  padding-left: 20px;
  background: transparent url(../../content/medias/images/icon_ppt.png) 0 50% no-repeat;
}
.att-zip {
  padding-left: 18px;
  background: transparent url(../../content/medias/images/icon_zip.png) 0 50% no-repeat;
}

#mailDialog img {
  max-width: 100%;
}

#mailDialog .potential-clue {
  color: #222;
  text-decoration: none;
  cursor: pointer;
}
#mailDialog .potential-clue:hover, #mailDialog .potential-clue:focus {
  background-color: #FFFF00;
  color: #222;
  text-decoration: none;
  cursor: pointer;
}
#mailDialog .sample-external-link {
  color: #295376;
  text-decoration: underline;
  cursor: pointer;
}
#mailDialog .sample-external-link:hover, #mailDialog .sample-external-link:focus {
  color: #0535d2;
  text-decoration: underline;
  cursor: pointer;
}
#mailDialog.mode-identify-clues .sample-external-link:hover, #mailDialog.mode-identify-clues .sample-external-link:focus {
  background-color: #FFFF00;
}

#mailDialog .needs-white-links .sample-external-link, 
#mailDialog .needs-white-links .sample-external-link:hover, 
#mailDialog .needs-white-links .sample-external-link:focus,
#mailDialog .needs-white-links a:link,
#mailDialog .needs-white-links a:visited,
#mailDialog .needs-white-links a:hover,
#mailDialog .needs-white-links a:focus,
#mailDialog .needs-white-text .potential-clue  {
  color: #FFF;
}
#mailDialog .needs-white-text .clue-found {
  /*background-color: #4F862B;*/
  color: #222;
}
#mailDialog .needs-white-text .potential-clue:hover, 
#mailDialog .needs-white-text .potential-clue:focus,
#mailDialog.mode-identify-clues .needs-white-text .potential-clue:hover .sample-external-link, 
#mailDialog.mode-identify-clues .needs-white-text .potential-clue:focus .sample-external-link,
#mailDialog.mode-identify-clues .needs-white-text .sample-external-link:hover, 
#mailDialog.mode-identify-clues .needs-white-text .sample-external-link:focus {
  color: #222;
}

.missing-block {
  display: inline-block;
  width: 100%;
}

.sample-tooltip {
	margin:8px;
	padding:8px;
  padding: 2px 4px;
	border:1px solid #B2B2B2;
	background-color:#FFF;
	position: absolute;
	z-index: 20001;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  font-size: 14px;
}
#mailDialog .clue-found {
  background-color: #d8eeca; /*#CCFFCC;*/
}
#mailDialog .clue-missed {
  background-color: transparent;
  text-decoration: line-through;
}

#feedbackMessage {
  padding: 20px 15px;
  min-height: 367px;
}

#feedbackMessage.feedback-guardian {
  padding: 0 15px 50px 130px;
  min-height: 367px;
  background: url(../../content/medias/images/guardian_1_sm.png) 5px 0 no-repeat;
}
.guardian-1 #feedbackMessage.feedback-guardian {
  background: url(../../content/medias/images/guardian_2_sm.png) 5px 0 no-repeat;
}
.guardian-2 #feedbackMessage.feedback-guardian {
  background: url(../../content/medias/images/guardian_3_sm.png) 5px 0 no-repeat;
}
.guardian-3 #feedbackMessage.feedback-guardian {
  background: url(../../content/medias/images/guardian_4_sm.png) 5px 0 no-repeat;
}

#feedbackNavButton {
  margin-top: 20px;
  text-align: right;
}

#feedbackNavButton.back-to-scenario {
  text-align: left;
}

#feedbackAlert {
  position: relative;
}

.alert-feedback .mfp-close {
  color: #666;
  float: right;
  margin-left: 15px;
  opacity: 1;
}

.alert-feedback .mfp-close:hover, .alert-feedback .mfp-close:focus {
  color: #333;
}

.alert-feedback > :first-child {
    margin-left: 2.2em;
}

.alert-feedback-wrapper {
}
.alert-feedback-wrapper p:last-child {
  margin-bottom: 0;
}
.alert-feedback-correct.highlight {
  background-color: #278400;
}
.alert-feedback-incorrect.highlight {
  background-color: #d3080c;
}
.alert-feedback {
  transition: background-color 1000ms linear;
}
.alert-feedback-correct > :first-child::before {
    color: #278400;
    content: "\e013";
    font-size: 2em;
    margin-top: -0.5em;
}
.alert-feedback-incorrect > :first-child::before {
    /*color: #f90;*/
    color: #d3080c;
    content: "\e014";
    font-size: 2em;
    margin-top: -0.4em;
}
 

.results-column {
  position: relative;
  /*min-height: 400px;*/
}

.results-column-left, .results-column-right {
  text-align: center;
}

.framed-results {
  margin: 10px auto;
  width: 417px;
  background: transparent url(../../content/medias/images/border_top.png) 0 0 no-repeat;
}
.framed-results-inner {
  width: 417px;
  background: transparent url(../../content/medias/images/border_bottom.png) left bottom no-repeat;
  min-height: 216px;
  padding: 20px 35px 0;
  position: relative;
}
.framed-results table {
  width: 100%;
}
.framed-results table, .framed-results tr, .framed-results td, .framed-results th {
  border: 0 none;
  padding: 0;
  margin: 0;
}
.framed-results td, .framed-results th {
  padding: 5px 0;
  font-size: 20px;
}
.framed-results th {
  color: #FFF;
  text-align: left;
  font-weight: bold;
}
.framed-results td {
  color: #00C4F0;
  text-align: center;
  width: 80px;
}
.framed-results tr:last-of-type td, .framed-results tr:last-of-type th {
  border-top: 1px solid #CDCED2;
}

#resultsList {
  width: 300px;
  padding: 15px;
  border-top: 30px solid #555;
  border-bottom: 30px solid #555;
  border-left: 10px solid #555;
  border-right: 10px solid #555;
  border-radius: 10px;
  position: relative;
  text-transform: uppercase;
}

#resultsList:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -19px;
  left: 150px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  background-color: #FFF;
  border: 1px solid #555;
  border-radius: 50%;
}

#resultsList:after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -26px;
  left: 150px;
  margin-left: -14px;
  width: 22px;
  height: 22px;
  background-color: #555;
  border: 3px solid #FFF;
  border-radius: 50%;
}

#resultsList h2 {
  margin-top: 0;
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
  color: #FF9900;
}

.results-list-row {
  margin-bottom: 10px;
}
.results-list-label {
  display: inline-block;
  width: 67%;
  font-weight: 700;
  font-size: 1.3em;
  color: #FF9900;
}
.results-list-value {
  display: inline-block;
  width: 30%;
  font-weight: 700;
  font-size: 1.3em;
  text-align: right;
  color: #365F91;
}
#totalSection {
  border-top: 1px solid #555;
  padding-top: 20px;
}
#totalSection .results-list-label, #totalSection .results-list-value {
  color: #000;
  
}

#resultStarsList {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 0;
}
#resultStarsList li {
  display: inline-block;
  width: 32%;
  text-align: center;
  font-size: 2em;
  color: #CCC;
}

#resultStarsList li.gold-star {
  color: #FF9900;
}

#resultsNextLevelMessage,
#resultsNextLevelWrapper {
  position: absolute;
  left: 0;
  bottom: -55px;
  width: 417px;
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #00C4F0;
}

#resultsNextLevelWrapper {
  background-color: #000;
  background-color: rgba(0,0,0,0.8);
}

.results-column-left .button-wrapper, .results-column-right .button-wrapper {
  /*position: absolute;
  bottom: 5px;
  width: 360px;*/
  text-align: center;
  padding: 20px 15px;
}

#resultFlasher {
  color: #00C4F0;
  transform: rotate(10deg);
  font-weight: bold;
  font-size: 20px;
  width: 162px;
  text-align: center;
  position: absolute;
  right: 20px;
  bottom: 150px;
}

#transcriptWrapper.game-feedback {
  padding-left: 200px;
  padding-right: 200px;
}

@media (max-width: 991px) {
  #gameUILeft {
    position: relative;
    top: auto;
    left: auto;
    min-height: 57px;
    width: auto;
    padding: 0 125px 0 10px;
    background: #000;
    background: rgba(0, 0, 0, 0.75);
  }
  
  #gameUICenter {
    margin-left: 0;
  }
  #gameUIFrameTop {
    margin-top: 0;
  }
  #clueIndicators, #pointsIndicators {
    position: relative;
    display: inline-block;
    width: auto;
    bottom: auto;
  }
  #pointsIndicators {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  #clueIndicators h2, #pointsIndicators h2, #guessIndicators, #clueFoundIndicators, #totalPoints, .guess-indicator, .clue-found-indicator {
    display: inline-block;
    margin: 0;
  }
  #forSizing {
    font-size: 16px;
  }
  #totalPoints {
    width: 2em;
    height: auto;
    padding: 2px 5px;
    background: #FFF none;
    background: rgba(255,255,255,0.9);
    border: 1px solid #0099CC;
    
  }
  .guess-indicator {
    margin-bottom: -7px;
  }
  .clue-found-indicator {
    margin-bottom: -26px;
  }
  
  #feedbackMessage.feedback-guardian {
    background: none;
    padding-left: 15px;
  }
  
  #resultFlasher {
    transform: none;
    width: 400px;
    margin: 20px auto;
    text-align: center;
    position: relative;
    right: auto;
    bottom: auto;
  }
  
  #resultsNextLevelMessage,
  #resultsNextLevelWrapper {
    bottom: -110px;
  }

  #transcriptWrapper.game-feedback {
    padding-left: 15px;
  }
}

@media (max-width: 767px) {
  #gameUICenter {
    margin-right: 0;
  }
  #gameUIRight {
    position: relative;
    width: auto;
    min-height: auto;
    padding-bottom: 10px;
  }
  .game-ui-button-wrapper {
    position: relative;
    width: auto;
    bottom: auto;
  }
  #gameUIRight .identify-type-button {
    display: inline;
    margin: 0;
  }
  
  #resultsNextLevelMessage,
  #resultsNextLevelWrapper {
    width: 100%;
  }

  #transcriptWrapper.game-feedback {
    padding-right: 15px;
  }
  
  footer .backnext {
    position: relative;
  }
}
 
/*xs*/
@media (max-width: 767px) {
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
}
 
/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
}

/*lg*/
@media (min-width: 1200px) {
}

/*#qaModal .modal-body {
  padding-bottom: 115px;
}*/

.modal-body #feedbackMessage {
  position: relative;
}

/* Styles for QA */
#qaModal #feedbackAudioWrapper {
  bottom: auto;
}

#qaModal h3 {
  margin-top: 0;
}

[data-clue] {
  border: 2px solid #FF0000;
  display: inline-block;
}

#qaFeedbackTitle {
  margin-top: 0;
}