<!doctype html>
<html id="adapt" class="no-js" lang="en" dir="ltr">

<head>
    <script type="text/javascript">
        window.ISCOOKIELMS = false;
    </script>
    <script src="offline_API_wrapper.js" type="text/javascript"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Adapt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href="adapt.css" type="text/css" rel="stylesheet">
    <script src="libraries/modernizr.js" type="text/javascript"></script>
    <script src="adapt/js/scriptLoader.js" type="text/javascript"></script>
    <script>
        (function(g, u, i, d, e, s) {
            g[e] = g[e] || [];
            var f = u.getElementsByTagName(i)[0];
            var k = u.createElement(i);
            k.async = true;
            k.src = 'https://static.userguiding.com/media/user-guiding-' + s + '-embedded.js';
            f.parentNode.insertBefore(k, f);
            if (g[d]) return;
            var ug = g[d] = {
                q: []
            };
            ug.c = function(n) {
                return function() {
                    ug.q.push([n, arguments])
                };
            };
            var m = ['previewGuide', 'finishPreview', 'track', 'identify', 'hideChecklist', 'launchChecklist'];
            for (var j = 0; j < m.length; j += 1) {
                ug[m[j]] = ug.c(m[j]);
            }
        })(window, document, 'script', 'userGuiding', 'userGuidingLayer', 'EK480297JABID');
    </script>
</head>

<body>
    <div id="app">
        <div id="wrapper">
        </div>
    </div>
</body>

</html>